body { behavior: url("csshover3.htc"); }
.megadrop {
	border-width: 1px !important;
	border-color: #ebebe8 !important;
	border-style: solid !important;
}
.megabox .title.active {
	border-width: 1px 1px 0 1px;
	border-color: #EBEBE8;
	border-style: solid;
}
.megadrop {
	background-color: #fff;
}
#content-wrapper { min-height: 400px; }
.relatedproducts {
	border-width: 0 1px 1px 1px !important;
	border-color: #ebebe8 !important;
	border-style: solid !important;
	background-color: #fff;
	margin: -20px 0 0 -26px;
	z-index: 300;
}
.facebookbox {
	margin: 10px 0 60px 0;
	padding: 10px 0 360px 0;
	position: relative;
	z-index: 200;
}
.product-specification { margin-bottom: 200px; }
