
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 100%;
}

/**** IBF *****/
body {
	font-family: font-family: Georgia, ‘Times New Roman’, serif;
	font-size: 12pt;
	line-height: 1.1em;
	color: #000;
	background: #fff;
	padding: 0;
	margin: 0;
}
body * { background: transparent; }
p { font-size: 12pt; }
h1,h2,h3,h4,h5,h6,h7 {
	font-family: arial,helvetica,tahoma,sans-serif;
	line-height: 1.3em;
	font-weight: bold;
}
h1 {
	font-size: 35pt;
	margin: 0;
}
h2 {
	font-size: 27pt
	font-style: italic;
}
h3 {
	font-size: 16pt;
	margin: 0;
}
th { padding: 5px; }
td { padding: 5px; }
a:link {
	font-weight: bold;
	text-decoration: underline;
}
a:link:after {
	content: " (" attr(href) ") ";
}