/* this is a custom CSS stylesheet */
@font-face {
    font-family: DINPro;
    src: url(fonts/DINPro-Regular.woff);
	src: url('fonts/DINPro-Regular.woff') format('woff')
}
.top {
width:100%;
background-color:#F1F1F1;
padding-bottom:10px;
padding-top:10px;
}
h4 {
font-family:"DINPro";
padding:15px;
font-size:28pt;
font-weight:600;
}
h3 {
font-family:"DINPro";

font-size:20pt;
font-weight:600;
}
.nav {
font-family:"DINPro";
border:0px;
background-color:#F1F1F1;
font-size:20pt;
}
.roof_type {
	font-family:"DINPro";
	width:100%;
	text-align:center;
	background-color:#EFF0F0;
	display:block;
	height:50px;
	font-size:22pt;
	color:black;
	border-radius:10px;
	cursor: pointer;
}

.roof_type2 {
	font-family:"DINPro";
	width:100%;
	text-align:center;
	background-color:#8EADD8;
	display:block;
	height:50px;
	font-size:22pt;
	color:black;
	border-radius:10px;
}

.roof_type:hover {
	//background-color:#D6DBDD;
	text-decoration: none;
	color:black;
}

.textfield {
	border:0px;
	outline:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	border-radius:10px;
	background-color:#EFF0F0;	
	font-family:"DINPro";
	font-size:13pt;
	margin-bottom:10px;
	color:black;
	width:100%;
}

.textfieldwithspan{
	width:95% !important;
}

.textfieldtext {
	border:0px;
	outline:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	border-radius:10px;
	background-color:#EFF0F0;	
	font-family:"DINPro";
	font-size:14pt;
	margin-bottom:10px;
	color:black;
}


.textfieldspan {
	background-color: #8EADD8;
	height: 40px;
	width: 40px;
	display:inline-block;
	padding: 12px 0 0 15px;
	border-radius:10px;
	margin:0 0 0 -40px;
}


input[type=checkbox] {
	display:none;
}
 
input[type=checkbox] + label
{
	background-color: #EFF0F0;
	height: 40px;
	width: 40px;
	display:inline-block;
	padding: 0 0 0 0px;
	border-radius:10px;
}
input[type=checkbox]:checked + label
{
	background-color: #8EADD8;
	height: 40px;
	width: 40px;
	display:inline-block;
	padding: 0 0 0 0px;
	border-radius:10px;
}

input[type=radio] {
	display:none;
}
 
input[type=radio] + label
{
	background-color: #EFF0F0;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
	border-radius:10px;
	vertical-align: middle;
}
input[type=radio]:checked + label
{
	background-color: #8EADD8;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
	border-radius:10px;
	vertical-align: middle;
}

input[type=radio][disabled]+ label{
	background-color: #FFFFFF;
	border:1px solid #8EADD8
}


.radiotext {
	font-family:"DINPro";
	display:inline-block;
	vertical-align: middle;
	margin-left:5px;
	font-size:14pt;
}

select {
	outline:0px;
	border:0px;
	font-size:14pt;
	height:38px;
	padding:6px;
	display:block;
	float:left;
	background-color:#EFF0F0;
	border-radius:10px;
	/*background: #EFF0F0 url(../img/arrow.png) no-repeat right;
	background-position: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	padding-right:40px;*/
}


select option {
	padding:5px;

}

.beregn_table{
	width:100%;
	margin-bottom: 20px;
	
}
.beregn_table th{
	background-color:lightgray;
	font-size:1.5em;
}

.beregn_table td{
	font-size:1.5em;
}
.beregn_table .first{
	font-weight:bold;
}