.Popup{
   z-index: 100;
   position: fixed;
   background-color: rgba(123, 123,123, 0.8);
   top: 0;
   left: 0;
}
.pop{
   z-index: 1000;
   position: absolute;
   top: 40%;
}
th {
	font-weight: normal;
}
.th th {
	font-weight: bold;
}